/* work scence google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* shared all style */

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.text-light-gray {
  color: #727272;
}
/* primarry button style */
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}
/* header style */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 150px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 3rem;
  font-weight: 700px;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style-type: none;
  margin-right: 40px;
  font-weight: 500;
  font-size: 1rem;
}
nav > ul > li a {
  text-decoration: none;
  color: #424242;
}
/* banner style */
.banner-contant {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}
.banner-dicription {
  color: #727272;
  font-size: 2rem;
  padding: 20px;
}
.banner img {
  width: 100%;
  margin-top: 20px;
}

/* main section style start hear */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Temeas container start from hear */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-contant {
  padding: 20px 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.teams-title .features {
  color: #ff900e;
  font-weight: 700px;
}
.teams-discription {
  padding: 20px 0;
}
/* fact section start */
.fact {
  margin-top: 50px;
}
.fact-card-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
}
.fact-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 30px;
}
.fact-card-container .card-title {
  font-weight: 600;
}
.fact-card-container.card-stats {
  font-size: 2.8rem;
  color: #424242;
}
/* sponsors style start hear */
.sponsors {
  text-align: center;
}
.sponsor-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsor-img-container img {
  width: 165px;
}
/* ----responsive style start hear---- */

/* For samll device  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container {
    flex-direction: column;
  }
  .nav-title {
    font-size: 1.5rem;
    font-weight: 700px;
  }
  nav ul {
    margin-top: 20px;
  }
  .teams-image-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .fact-card-container {
    flex-direction: column;
  }
  .fact-card-container .card {
    margin: 10px;
  }
  .sponsor-img-container {
    flex-direction: column;
  }
}

/* For mudiem device  */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
  .nav-title {
    font-size: 1.5rem;
    font-weight: 700px;
  }
  nav ul {
    margin-top: 20px;
  }
  .teams-image-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-title {
    font-size: 1.8rem;
  }
  .fact-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fact-card-container .card {
    margin: 10px;
  }
  .sponsor-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    align-items: center;
  }
}
